$light: rgb(183, 183, 183);
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

@mixin dev {
  border: 1px solid red;
}

$breakpoints: (
  phone: 450px,
  tablet: 768px,
  desktop: 1024px,
);
