// @import "./variables";

// a {
//   color: black;
//   text-decoration: none;
// }

// .header-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
//   padding: 1rem 2rem;
//   margin-bottom: 5vh;
//   border-bottom: 1px solid grey;
//   input {
//     padding: 0.5rem;
//     width: 20rem;
//     border: 1px solid grey;
//     border-right: none;
//   }

//   .small_search {
//     form {
//       @include flexCenter;
//     }
//   }

//   .small-search-btn {
//     padding: 0.45rem;
//     background-color: white;
//     border: 1px solid grey;
//     border-left: none;
//     height: 100%;
//   }
// }

@include media("<=phone") {
  .dash-container {
    overflow: hidden;
    width: 100%;
  }

  .header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    width: 100%;
    border-bottom: 1px solid grey;
    a {
      text-decoration: none;
      color: inherit;
      h1 {
        font-size: 1.25rem;
      }
      h3 {
        display: none;
      }
    }
    form {
      display: flex;
      justify-content: space-evenly;
      // align-items: center;
      width: 100%;
      button {
        width: 20%;
        border-radius: 10px;
        border: 1px solid grey;
        padding: 2px;
      }
    }
    input {
      width: 50%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid grey;
      padding-left: 5px;
    }
  }
}
